<div class="container-fluid modal1" ng-show="ngShowModal">
    <div class="row">
        <div class="row header" ng-show="showMSPAttributes">
            <p class="pop_heading">{{attrTitle}} </p>
            <!--<img class="po-cross" src="../../images/btn_popup_cross.png"  ng-click="cancel()" alt="close">-->
            <div class=" btn_div row" ng-show="showMSPAttributes">
                <button  class="save_btn_msp" type="button" ng-click="saveData()">SAVE</button>
            </div>
            <hr>
        </div>
        <div class="row header" ng-show="showRuntimeAttributes">
            <p class="pop_heading">{{popupDataRuntime.title}} </p>
            <!--<img class="po-cross" src="../../images/btn_popup_cross.png"  ng-click="cancel()" alt="close">-->
            <hr>
        </div>
        <div class="row header" ng-show="showServiceAttributes">
            <p class="pop_heading">{{bluemixServiceTitle}} </p>
            <!--<img class="po-cross" src="../../images/btn_popup_cross.png"  ng-click="cancel()" alt="close">-->
            <div class=" btn_div row" ng-show="showServiceAttributes">
                <button  class="save_btn" type="button" ng-click="saveDataService(selectvalue,attrTitle)">SAVE</button>
            </div>
            <hr>
        </div>
       <!-- <div class="row" ng-repeat="(key, value) in patternObjectIIB_Server" ng-show="showMSPAttributes">
            <div class="col-xs-7">
                <p class="keyStyle"> {{key}} </p>
            </div>
            <div class="col-xs-5">
                <input class="spss_input" type="text" ng-model="patternObjectIIB_Server[key]" ng-blur="changedValueSave()">
            </div>
        </div>-->

        <div class="col-xs-12" ng-show="showMSPAttributes">
            <div  class="col-xs-8" ng-repeat="(key,value) in patternObject">
                <p class="keyStyleHead"> {{key}}</p>
                <div class="col-xs-12">
                    <p class="col-xs-7 keyHeads">  <b>{{key}}Quantity</b></p>
                    <input class="col-xs-3 inputQuantity" type="text" ng-model="value[key+'_Quantity']" ng-blur="changedValueSave()">
                    <p class="col-xs-2"></p>
                    <!--<p  class="col-xs-6" style="color: red;">  {{value[key+'_Quantity']}}</p>-->
                </div>
                <div class="col-xs-12">
                    <p class="col-xs-7 keyHeads">  <b>{{key}}Size</b></p>
                    <select  class="col-xs-3 serverSize" ng-model=sizevalue[$index] ng-change="changeServerSize($index,sizevalue,key)" ng-options="country.size for country in serverSize track by country.id">
                    </select>
                    <p class="col-xs-2">

                    </p>
                </div>
                <div class="col-xs-12">
                    <p class="col-xs-7 keyHeads">  <b>{{key}}Flavor</b></p>
                    <!-- <p  class="col-xs-6" style="color: red;">  {{value[key+'_O/S']}}</p>-->
                    <select  class="col-xs-3 serverSize" ng-model="selectedFlavor[$index]" ng-init="selectedFlavor[$index] = Flavor[0]" ng-options="flav.flavorName for flav in Flavor track by flav.id">
                    </select>
                    <p class="col-xs-2">

                    </p>
                </div>
            </div>
            <div class="col-xs-4">
                <p class="noteProperty">
                    <b>Small</b>: CPU:2,Memory:8,DiskSize:40
                    <b>Medium</b>: CPU:2,Memory:8,DiskSize:40
                    <b>Large</b>: CPU:2,Memory:8,DiskSize:40
                </p>
            </div>
        </div>


        <div class="row" ng-show="showMSPAttributes">
            <div class="col-xs-7">
                <p class="keyStyle"> Total License Cost </p>
            </div>
            <div class="col-xs-5">
                <!--<p class="keyStyle"> {{total_Price}} </p>-->
                <input class="spss_input" type="text" ng-model="totalLicenseCost" ng-readonly="true" style="background-color:lightgrey">

            </div>
        </div>

        <div class="row" ng-show="showMSPAttributes">
            <div class="col-xs-7">
                <p class="keyStyle"> Total Price </p>
            </div>
            <div class="col-xs-5">
                <!--<p class="keyStyle"> {{total_Price}} </p>-->
                <input class="spss_input" type="text" ng-model="total_Price" ng-readonly="true" style="background-color:lightgrey">
            </div>
        </div>
        <div class="row" ng-show="showRuntimeAttributes">
            <div class="col-xs-6">
                <div class="col-xs-8">
                    <p class="keyStyle"> Title </p>
                    <p class="keyTitle"> {{runtimeBluemixTitle}}</p>
                </div>
                <div class="col-xs-4">
                    <p class="keyStyle"> Plan</p>
                    <p class="keyTitle"> {{runtimeBluemixPlan}}</p>
                </div>
            </div>
            <div ng-model="memoryProperties" >
                <div class="col-xs-2" ng-show="showRuntimeAttributes">
                    <p class="keyStyle">Instance</p>
                    <input class="spss_input" type="text" ng-model="memoryProperties['instance']" ng-blur="changedRuntimeValueSave()"/>
                </div>
                <div class="col-xs-2" ng-show="showRuntimeAttributes">
                    <p class="keyStyle">Memory</p>
                    <div id="incdec">
                        <input class="spss_input" type="text"  ng-model="memoryProperties['memory']" ng-blur="changedRuntimeValueSave()"/>
                        <img src="../../images/Arrow-down-navmenu.png" id="up" ng-click="increment(memoryProperties['memory'])" />
                        <img src="../../images/Arrow-up-navmenu.png" id="down" ng-click="decrement(memoryProperties['memory'])"/>
                    </div>
                   <!-- <input class="spss_input" type="number" string-to-number ng-model="memoryProperties['memory']" ng-blur="changedRuntimeValueSave()"/> -->
                </div>
                <div class="col-xs-2" ng-show="showRuntimeAttributes">
                    <p class="keyStyle">Price</p>
                    <input class="spss_input" type="text" ng-model="memoryProperties['price']" />
                </div>
            </div>


           <!-- <div class="col-xs-2" ng-repeat="(key, value) in memoryProperties" ng-show="showRuntimeAttributes">
                <div class="col-xs-4">
                    <p class="keyStyle">{{key}}</p>
                    <input class="spss_input"  only-digits type="text" ng-model="memoryProperties[key]" ng-blur="changedRuntimeValueSave()">

                </div>
            </div> -->
            <!--<select  ng-model="quantityRuntime | filter:bytes"></select>-->
        </div>

        <div ng-show="showServiceAttributes">
            <ul style="list-style: none;">
                <li class="row bluemixheading">
                    <div class="col-xs-3 attrHeading">
                        Plan
                    </div>
                    <div class="col-xs-4 attrHeading">
                        Description
                    </div>
                    <div class="col-xs-2 attrHeading">
                        Country
                    </div>
                    <div class="col-xs-2 attrHeading">
                        Quantity
                    </div>
                    <div class="col-xs-1 attrHeading">
                        Estimate
                    </div>
                </li>
                <loading ng-show="viewbluemixPrice" class="bluemixSpinner"></loading>
                <!--<hr>-->
                <li  class="row bluemixdata" ng-repeat="property in propertiesObjectArrayData ">
                    <div class="bluemixprop col-xs-3">
                        <label class="bluemixlabel">
                            <input class=""  ng-value="property.entity.extra.displayName" type="radio" name="PlanName" ng-model="$parent.selectvalue"/>
                        </label>
                            {{property.entity.extra.displayName}}
                    </div>
                    <div class="col-xs-4">
                        <ul style="list-style-type: square;padding-left: 21%">
                            <li  style="text-align: left;" ng-repeat="property in property.entity.extra.bullets">
                                {{property}}
                            </li>
                        </ul>

                    </div>
                    <div class="col-xs-2">
                        <select ng-model="selectedCountry[$index]" ng-init="selectedCountry[$index] = names[0] " ng-options="country.name for country in propertiesObjectArrayData.names track by country.id">
                        </select>
                    </div>
                    <div class="col-xs-2">
                        <!--<input class="spss_input" type="text" ng-model="property.entity.extra.costs[0].unitQuantity" ng-blur="changedBluemixValueSave(property.entity.extra.costs[0].unitQuantity,property.metadata.guid,property.entity.extra.costs[0].unitId,selectedCountry[$index],$index
)">-->

                        <input class="spss_input" type="text" min="0" ng-model="unitQuantity[$index]"  only-digits my-enter="changedBluemixValueSave(unitQuantity,property.metadata.guid,property.entity.extra.costs[0].unitId,selectedCountry[$index],$index
)"  ng-blur="changedBluemixValueSave(unitQuantity,property.metadata.guid,property.entity.extra.costs[0].unitId,selectedCountry[$index],$index
)">
                    </div>
                    <div class="col-xs-1">
                        <!--<loading ng-show="viewbluemixPrice" class=""></loading>-->
                        <p ng-show="showPriceBefore"> --</p>
                        <p ng-show="showPriceAfter">  &#x20B9;{{pricedata[$index]}}</p>
                        <!--<input type="text" ng-model="pricedata[$index]">-->
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--<div class=" btn_div row" ng-show="showMSPAttributes">
        <button  class="save_btn_msp" type="button" ng-click="saveData()">SAVE</button>
    </div>-->
    <div class=" btn_div row" ng-show="showRuntimeAttributes">
        <p ng-show="showRuntimeAttributes" class="runtimeNote"><b>Note:</b></p>
        <p ng-show="showRuntimeAttributes" class="runtimePrice">Click <a href ="https://console.ng.bluemix.net/pricing/" target="_blank">here</a> for Pricing Details</p>
        <button  class="save_btn" type="button" ng-click="saveDataRuntime()">SAVE</button>
    </div>
    <!--<div class=" btn_div row" ng-show="showServiceAttributes">
        <button  class="save_btn" type="button" ng-click="saveDataService(planData)">SAVE</button>
    </div>-->

</div>
