.keyStyle{
    font-size: 20px;
    text-transform: capitalize;
}
.keyHeads{
    font-size: 17px;

}
.keyHeads:after {
    content:" *";
    color: red;
}
.inputQuantity{
    width: 99px !important;
    height: 29px;
    padding: 1% 0% 0% 2%!important;
}


.pop_heading{
    text-transform: capitalize;
    color: #017eba;
    margin-top: 1%;
    text-align: center;
    /* float: left; */
    /* margin-left: -78%; */
    /* margin-right: 74%; */
    font-size: 25px;
}
.keyStyleHead{
    font-size: 20px;
    text-transform: capitalize;
    color: #017eba;
}
.spss_input{
    width: 73px;
    padding: 1%;
    margin-top: 3%;
}
.serverSize{
    width: 102px !important;
}

#spss_select{
    padding: 1%;
    margin-top: 4%;
    width: 87%;
}
#spss_flavor_select{
    padding: 2%;
    margin-top: 7%;
    width: 87%;
}
#app_input{
    padding: 1%;
    margin-top: 7%;
}


#app_select_size{
    padding: 2%;
    margin-top: 7%;
    width: 87%;
}


#app_flavor_select{
    padding: 2%;
    margin-top: 7%;
    width: 87%;
}

.save_btn{
    float: right;
    margin-top: -4.5%;
    background-color: #017eba;
    /* margin-right: -45px; */
    /* height: 20% !important; */
    color: white;
    /* max-height: 7%; */
    /* margin-bottom: 4%; */
    width: 7%;
    height: 34px;
}

.save_btn_msp{
    float: right;
    margin-top: 4.5%;
    background-color: #017eba;
    margin-right: -11px;
    /* height: 20% !important; */
    color: white;
    /* max-height: 7%; */
    /* margin-bottom: 4%; */
    width: 18%;
    height: 34px;
}

.btn_div{
    padding: 0%;
}

.modal1{
    /*width: autopx;*/
    height:500px;
    margin-top: 1%;
    padding-right: 55px !important;
    padding-left: 6px !important;
    overflow-y: auto;
}

.po-cross{
    float: right;
    margin-top: -47px;
    margin-right: -41px;
    top: 0;
    /* margin-right: 3%; */
    left: 0;
}

.app-modal-window .modal-dialog {
    width: 440px;
}
.app-modal-window-o .modal-dialog {
    width: 990px;
}
.app-modal-window-ns .modal-dialog {
    width:440px;
}

.app-modal-window-homeConfirm .modal-dialog{
    width:600px;
}

.app-modal-window-sam .modal-dialog {
    width: 440px;
}
.app-modal-window-sa .modal-dialog {
    width: 440px;
}
.app-modal-window-att .modal-dialog {
    width: 800px;
    height:500px;
}
.app-modal-window-att-prov .modal-dialog{
    width:600px;
}
.app-modal-window-att2 .modal-dialog {
    width: 700px;
}
.app-modal-window-att3 .modal-dialog {
    width: 1200px;
}
.app-modal-window-dc .modal-dialog {
    width: 440px;
}
.app-modal-window-nns .modal-dialog {
    width: 440px;
}
.app-modal-window-solpop .modal-dialog {
    width: 440px;
}
.app-modal-window-nspop .modal-dialog {
    width: 500px;
}

.app-modal-window-newArch .modal-dialog{
    width:440px;
}

.app-modal-window-sam-Plan  .modal-dialog{
    width:500px;
}
.servicePl{
    width: 132px;
}

.bullets{
    margin-top: 26px;
    margin-left: -5%;
}
.bulletData{
    font-size: 17px;
    color: #017eba;
}
.descData{
    font-size: 17px;
}


.viewPricing{
    position: absolute !important;
    margin-top: 21%;
    margin-left: 82%;

}

.keyTitle{
    font-size: 17px;
}

.bluemixprop{
    word-wrap: break-word;
}

.attrHeading{
    font-size: 17px;
    color: #017eba;
}

.bluemixlabel{
    /*margin-left: -21%;*/
    margin-left: -9%;
}
.bluemixdata{
    border-bottom: 1px solid #eee;
    margin-top: 3%;
    text-align: center;
}

.bluemixheading{
    text-align: center;
}

.bluemixSpinner{
    margin-left: 85%;
    position: fixed;
    width: 120px;
    height: 120px;
    margin-top: 5%

}
.runtimeNote{
    margin-left: 6%;
}
.runtimePrice{
    margin-left: 6%;
}