<div class="container-fluid modal1" ng-show="ngShowModal">
    <div class="row">
        <div class="row header" ng-show="showMSPAttributes">
            <p class="pop_heading">{{attrTitle}} </p>
            <img class="po-cross" src="../../images/btn_popup_cross.png"  ng-click="cancel()" alt="close">
            <hr>
        </div>
        <div class="row header" ng-show="showRuntimeAttributes">
            <p class="pop_heading">{{popupDataRuntime.title}} </p>
            <img class="po-cross" src="../../images/btn_popup_cross.png"  ng-click="cancel()" alt="close">
            <hr>
        </div>
        <div class="row header" ng-show="showServiceAttributes">
            <p class="pop_heading">{{bluemixServiceTitle}} </p>
            <img class="po-cross" src="../../images/btn_popup_cross.png"  ng-click="cancel()" alt="close">
            <div class=" btn_div row" ng-show="showServiceAttributes">
                <button  class="save_btn" type="button" ng-click="saveDataService(planData)">SAVE</button>
            </div>
            <hr>
        </div>
        <div class="row" ng-repeat="(key, value) in patternObjectIIB_Server" ng-show="showMSPAttributes">
            <div class="col-xs-7">
                <p class="keyStyle"> {{key}} </p>
            </div>
            <div class="col-xs-5">
                <input class="spss_input" type="text" ng-model="patternObjectIIB_Server[key]" ng-blur="changedValueSave()">
            </div>
        </div>
        <div class="row" ng-show="showMSPAttributes">
            <div class="col-xs-7">
                <p class="keyStyle"> Total License Cost </p>
            </div>
            <div class="col-xs-5">
                <!--<p class="keyStyle"> {{total_Price}} </p>-->
                <input class="spss_input" type="text" ng-model="totalLicenseCost" ng-readonly="true" style="background-color:lightgrey">

            </div>
        </div>

        <div class="row" ng-show="showMSPAttributes">
            <div class="col-xs-7">
                <p class="keyStyle"> Total Price </p>
            </div>
            <div class="col-xs-5">
                <!--<p class="keyStyle"> {{total_Price}} </p>-->
                <input class="spss_input" type="text" ng-model="total_Price" ng-readonly="true" style="background-color:lightgrey">
            </div>
        </div>
        <div class="row" ng-show="showRuntimeAttributes">
            <div class="col-xs-6">
                <div class="col-xs-8">
                    <p class="keyStyle"> Title </p>
                    <p class="keyTitle"> {{runtimeBluemixTitle}}</p>
                </div>
                <div class="col-xs-4">
                    <p class="keyStyle"> Plan</p>
                    <p class="keyTitle"> {{runtimeBluemixPlan}}</p>
                </div>
            </div>
            <div class="col-xs-2" ng-repeat="(key, value) in memoryProperties" ng-show="showRuntimeAttributes">
                <div class="col-xs-4">
                    <p class="keyStyle">{{key}}</p>
                    <input class="spss_input" type="text" ng-model="memoryProperties[key]" ng-blur="changedRuntimeValueSave()">
                </div>
            </div>
        </div>

        <div ng-show="showServiceAttributes">
            <ul style="list-style: none;">
                <li class="row bluemixheading">
                    <div class="col-xs-3 attrHeading">
                        Plan
                    </div>
                    <div class="col-xs-4 attrHeading">
                        Description
                    </div>
                    <div class="col-xs-2 attrHeading">
                        Country
                    </div>
                    <div class="col-xs-2 attrHeading">
                        Quantity
                    </div>
                    <div class="col-xs-1 attrHeading">
                        Estimate
                    </div>
                </li>
                <loading ng-show="viewbluemixPrice" class="bluemixSpinner"></loading>
                <!--<hr>-->
                <li  class="row bluemixdata" ng-repeat="property in propertiesObjectArrayData ">
                    <div class="bluemixprop col-xs-3">
                        <label class="bluemixlabel">
                            <input class=""  ng-value="property.entity.name" type="radio" name="PlanName" ng-model="$parent.planData"/>
                        </label>
                            {{property.entity.name}}
                    </div>
                    <div class="col-xs-4">
                        {{property.entity.extra.bullets[0]}}
                    </div>
                    <div class="col-xs-2">
                        <select ng-model="selectedCountry[$index]" ng-options="country.name for country in propertiesObjectArrayData.names track by country.id">
                        </select>
                    </div>
                    <div class="col-xs-2">
                        <input class="spss_input" type="text" ng-model="property.entity.extra.costs[0].unitQuantity" ng-blur="changedBluemixValueSave(property.entity.extra.costs[0].unitQuantity,property.metadata.guid,property.entity.extra.costs[0].unitId,selectedCountry[$index],$index
)">
                    </div>
                    <div class="col-xs-1">
                        <!--<loading ng-show="viewbluemixPrice" class=""></loading>-->
                        <p ng-show="showPriceBefore"> --</p>
                        <p ng-show="showPriceAfter"> {{pricedata[$index]}}</p>
                        <!--<input type="text" ng-model="pricedata[$index]">-->
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class=" btn_div row" ng-show="showMSPAttributes">
        <button  class="save_btn_msp" type="button" ng-click="saveData()">SAVE</button>
    </div>
    <div class=" btn_div row" ng-show="showRuntimeAttributes">
        <p ng-show="showRuntimeAttributes"><b>Note:</b></p>
        <p ng-show="showRuntimeAttributes">Click <a href ="https://console.ng.bluemix.net/pricing/" target="_blank">here</a> for Pricing Details</p>
        <button  class="save_btn" type="button" ng-click="saveDataRuntime()">SAVE</button>
    </div>
    <!--<div class=" btn_div row" ng-show="showServiceAttributes">
        <button  class="save_btn" type="button" ng-click="saveDataService(planData)">SAVE</button>
    </div>-->

</div>
