<div class="modal-content">
    <div class="kim-background-container ng-scope">
        <div class="container-fluid modalBluemixPlanSave" ng-show="openConfirmBluemixPlan">
            <div class="row">
                <p id="homeConfirmPopup">  <span id="alertHead">Alert</span> <img class="po-crossHome" src="../../images/btn_popup_cross.png"  ng-click="dismissDel()" alt="close"></p>
                <hr>
                <p id="popupHeadingHomeBluemixPlan">Do you want to save your Plan??</p>
                <div class="col-xs-12">
                    <div class="col-xs-6">
                        <button type="button" id="SaveBtnBluemixPlan" ng-click="SavePlan()">Save</button>
                        <loading ng-show="savebluemixPlan" class=""></loading>
                    </div>
                    <div class="col-xs-6">
                        <button type="button" id="CancelBtnBluemixPlan" ng-click="chooseAnother()">Choose Another Plan</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
