<div class="modal-content">
    <div class="kim-background-container ng-scope">
        <div class="container-fluid modal2" ng-show="ngShowModal1">
            <div class="row">
                <p id="popupHeading"> Delete current Solution Version </p>
                <img class="po-cross1" src="../../images/btn_popup_cross.png"  ng-click="dismissModal()" alt="close">
                <hr  class="fancy-line" width="100%" align="left">

            </div>
            <div class="modal-body">
                <p>This will delete current solution.</p>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="delconfirms()">Confirm</button>
            </div>

        </div>

    </div>
</div>