<div class="modal-content">
    <div class="kim-background-container ng-scope">
        <div class="container-fluid modalNewArchHomeConfirm" ng-show="openConfirmMspPage">
            <div class="row">
                <p id="homeConfirmPopup">  <span id="alertHead">Alert</span> <img class="po-crossHome" src="../../images/btn_popup_cross.png"  ng-click="dismissDel()" alt="close"></p>
                <hr>
                <p id="popupHeadingHomeConfirm">Your Architecture( {{solnEntered2}} ) has been modified. Do you want to save your Changes??</p>
                <div class="col-xs-12">
                    <div class="col-xs-6">
                        <button type="button" id="SaveBtnHome" ng-click="ProceedToMsp()">SAVE</button>
                        <loading ng-show="spinsProceedToHome" class="ProceedHomeSpins"></loading>
                    </div>
                    <div class="col-xs-6">
                        <button type="button" id="CancelBtnHome" ng-click="cancelProceedMsp()">CANCEL</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
