<script>
    $(document).ready(function() {
        /*$('#DisplayProp').hide();*/
        $(".displayDiv").on("click",function(){
            $("#DisplayProp").toggle('slow');
        })
    });
</script>
<div class="container-fluid  modal4" id="testDiv" ng-show="ngShowModal4">
    <div class="billText">
        <span id="orderHeading">Bill of Material <b> :</b>{{solnEntered}} </span>
        <img class="po-cross2" src="../../images/btn_popup_cross.png"  ng-click="dismissOrderBill()" alt="close">
    </div>
    <hr>
    <div id="exportable">
        <table>
            <thead>
            <tr class="tble_headings col-xs-12">
                <th class="col-xs-3 tble_attr">Product Name</th>
                <th class="col-xs-3 tble_attr1"></th>
                <th class="col-xs-2 tble_attr">Provider</th>
                <th class="col-xs-1 tble_attr">Quantity</th>
                <th class="col-xs-1 tble_attr">Price($)</th>
                <th class="col-xs-1 tble_attr">LicenseCost($)</th>
            </tr>
            </thead>
            <tbody>
            <tr class="col-xs-12 tble_data" ng-repeat="data in viewBillOfOrderArray">
                <td class="col-xs-3">{{data.productName}}</td>
                <td class="col-xs-3 ">
                    <span><img class="img-circle displayDiv" ng-src="{{followBtnImgUrl}}" ng-click="displaypropDiv()"></span>
                    <div  class="row" id=""  ng-show="propMSP">
                        <div class="col-xs-3">
                            <p> Disktype:</p>
                            <p> M/W:</p>
                            <p> Memory:</p>
                            <p> O/S:</p>
                            <p> Disksize:</p>
                            <p> CPU:</p>
                        </div>
                        <div class="col-xs-1">

                        </div>
                        <div class="col-xs-3">
                        <p>  {{data.productDisktype}}</p>
                          <p>     {{data.servermw}}</p>
                           <p>{{data.servermemory}}</p>
                            <p> {{data.serveros}}</p>
                         <p>{{data.serverdisksize}}</p>
                           <p>    {{data.servercpu}}</p>
                        </div>
                    </div>
                </td>
                <td class="col-xs-2">{{data.productProvider}}</td>
                <td class="col-xs-1" >{{data.productQuantity}}</td>
                <td class="col-xs-1">{{data.productPrice}}</td>
                <td class="col-xs-1">{{data.productLC}}</td>
            </tr>
            <tr class="col-xs-12 tble_data" ng-repeat="dataRuntime in bluemixRuntimeViewBillObjectArray">
                <!--<td class="col-xs-2">{{serialNumber}}</td>-->
                <td class="col-xs-3">{{dataRuntime.title}}</td>
                <!--<td class="col-xs-3"><img  class="img-circle" src="../../images/btn_panelexpand.png"></td>-->
                <td class="col-xs-3 ">
                    <span><img class="img-circle displayDiv" ng-src="{{followBtnImgUrl}}" ng-click="displaypropDiv()"></span>
                    <div  class="row"   ng-show="propMSP">
                        <div class="col-xs-3">
                            <p> Memory:</p>
                            <p> Plan:</p>
                        </div>
                        <div class="col-xs-1">

                        </div>
                        <div class="col-xs-3">
                            <p>  {{dataRuntime.properties.memory}}</p>
                            <p>     {{dataRuntime.plan}}</p>
                        </div>
                    </div>
                </td>
                <td class="col-xs-2">Bluemix</td>
                <td class="col-xs-1">{{dataRuntime.properties.instance}}</td>
                <td class="col-xs-1">{{dataRuntime.properties.price}}</td>
                <td class="col-xs-1"> --</td>
            </tr>
            <tr class="col-xs-12 tble_data" ng-repeat="dataServices in bluemixServiceViewBillObjectArray">
                <!--<td class="col-xs-2">{{serialNumber}}</td>-->
                <td class="col-xs-3">{{dataServices.title}}</td>
                <!--<td class="col-xs-3"><img  class="img-circle" src="../../images/btn_panelexpand.png"></td>-->
                <td class="col-xs-3 ">
                    <span><img class="img-circle displayDiv" ng-src="{{followBtnImgUrl}}" ng-click="displaypropDiv()"></span>
                    <div  class="row"   ng-show="propServices">
                        <div class="col-xs-3">
                            <p> Plan:</p>
                        </div>
                        <div class="col-xs-1">

                        </div>
                        <div class="col-xs-3">
                            <p>  {{dataServices.properties.entity.planData}}</p>
                        </div>
                    </div>
                </td>
                <td class="col-xs-2">Bluemix </td>
                <td class="col-xs-1">1</td>
                <td class="col-xs-1"><a href="https://console.ng.bluemix.net/pricing/" style="color: #0e90d2" target="_blank">Pricing</a></td>
                <td class="col-xs-1"> --</td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="row">
        <span id="totl_price">Total Price-</span> <span id="price">${{viewBillFinalPrice}}</span>
        <loading ng-show="placeOrderSpins" class="placeOrderSpin"></loading>
        <button  id="pdfbtn" ng-click="exportData()">Download</button>
       <!-- <button id="orderBtn" type="button" ng-click="placeOrder()" ng-show="showOrderBtn">ORDER</button>-->
    </div>
    <!--<a href="javascript:genPdf()"> Download PDF </a>-->
    <!--<div>
        <span><img ng-class="{'tickDisplayProp': !isActive, 'tickDisplayProp activeColor': isActive} " ng-init="isActive = false" class="displayDiv img-circle"  ng-click="displayActive()"></span>
        <div  class="row" style="display:none;" id="DisplayProp">
            <p class="">Msp Prop</p>
        </div>
    </div>-->
</div>

