<div class="modal-content">
    <div class="kim-background-container ng-scope">
        <div class="container-fluid modalNewArch" ng-show="SelectBluemixPlan">
            <div class="row">
                <p id="popupHeading">Would you like to save this Plan</p>
                <hr>
                <img class="po-cross3" src="../../images/btn_popup_cross.png"  ng-click="dismissDel()" alt="close">
                <hr  class="fancy-line" width="100%" align="left">
                <div class="col-xs-12">
                    <div class="col-xs-6">
                        <button type="button" id="createnewArch" ng-click="SavePlan()">Yes</button>
                    </div>
                    <div class="col-xs-6">
                        <button type="button" id="deleteArch" ng-click="NoSave()"> No </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
