<div class="modal-content">
    <div class="kim-background-container ng-scope">
        <div class="container-fluid modal2" ng-show="ngShowModal1">
            <div class="row">
                <p id="popupHeading"> Bluemix + MSP Solution Architecture</p>
                <img class="po-cross1" src="../../images/btn_popup_cross.png"  ng-click="dismissModal()" alt="close">
                <hr  class="fancy-line" width="100%" align="left">
                <div class="col-xs-12">
                    <div class="col-xs-5">
                        <button type="button" id="create_btn" ng-click="createItem()"> Create New</button>
                    </div>
                    <div class="col-xs-2 ">
                        <p class="verticalLine"></p>
                        <p class="or"> or </p>
                        <p class="verticalLine"></p>
                    </div>
                    <div class="col-xs-5">
                        <button type="button" id="open_btn" ng-click="openItem()"> Open Item</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

