<div class="modal-content">
    <div class="billText">
        <span id="orderHeading">{{solutionname}}</span>
        <img class="po-cross3" src="../../images/cross.png"  ng-click="dismissOrder()" alt="close">
    </div>

    <table class="table table-bordered table-hover table-condensed">
        <tr style="font-weight: bold">
            <td style="width:45%">Solution Version</td>
            <td style="width:20%">Status</td>

            <td style="width:25%"></td>
        </tr>

        <tr ng-repeat="data in hybridversionObjectsArray" ng-click="do_some_action(data.version)">
            <td >
             <span> V {{ data.version }} </span>
            </td>
            <td>
             <span> {{ data.Status}}  </span>
            </td>
           <!-- <td>
                &lt;!&ndash; editable group (select-remote) &ndash;&gt;
        <span editable-select="user.group" e-name="group" onshow="loadGroups()" e-form="rowform" e-ng-options="g.id as g.text for g in groups">
          {{ showGroup(user) }}
        </span>
            </td>-->
            <td style="white-space: nowrap"  ng-click="$event.stopPropagation()">
                <!-- form -->
                <!-- <form editable-form name="rowform" onbeforesave="saveUser($data, user.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == user">
                   <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                     save
                   </button>
                   <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                     cancel
                   </button>
                 </form>-->
                <div class="buttons" >
                    <button class="btn btn-primary" ng-click="verEdit()">View</button>
                    <button class="btn btn-primary" ng-click="savetoPdf()">PDF</button>
                    <button class="btn btn-danger" ng-click="viewdelete(data.version)">delete</button>
                </div>
            </td>
        </tr>
        <tr ng-repeat="data in mspversionObjectsArray" ng-click="do_some_action_msp(data.version)">
            <td >
                <span> V {{ data.version }} </span>
            </td>
            <td>
                <span> {{ data.Status}}  </span>
            </td>
            <td style="white-space: nowrap"  ng-click="$event.stopPropagation()">
                <!-- form -->
                <!-- <form editable-form name="rowform" onbeforesave="saveUser($data, user.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == user">
                   <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                     save
                   </button>
                   <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                     cancel
                   </button>
                 </form>-->
                <div class="buttons" >
                    <button class="btn btn-primary" ng-click="verEdit()">View</button>
                    <button class="btn btn-primary" ng-click="verDown()">PDF</button>
                    <button class="btn btn-danger" ng-click=viewdelete(data.version)">delete</button>
                </div>
            </td>
        </tr>
    </table>

   <table>
       <tbody>

       <tr ng-repeat="status in statusversionObjectsArray">
           <td style="width:200px">
               msp status {{ status.msp_status}}
           </td>
           <td style="width:200px">
               bluemix status {{status.bluemix_status}}
           </td>
       </tr>
       </tbody>
   </table>

    <!--<button class="btn btn-default" ng-click="addUser()">Add row</button>-->
</div>

<script type="text/javascript">

    function genPdfViewArch(){
        /*var doc = new jsPDF();
         doc.text(20,20,'Test Page1');
         doc.addPage();
         doc.text(20,20,'Test Page2');
         doc.save('Test.pdf');*/
        html2canvas(document.getElementById("myArch"),{
            onrendered:function(canvas){
                var img = canvas.toDataURL("image/png");
                var doc = new jsPDF('landscape');
                doc.addImage(img,'JPEG',10,10);
                doc.save('ViewArch.pdf');
            }
        })
    }

</script>