textarea {
    width: 700px;
    height: 100px;
}
.pocross4 {
    /*float: left;*/
    float: right;
    /* margin-right: 3%; */
    /* margin-top: 1%; */
    top: 0;
    left: 0;
}

#txtArea {
    height: 106px;
    width: 566px;
    resize: none;
}
