<span ng-include="'includes/header.html'"></span>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 text">
			<div class="content1">
				<p class="con1">GBS Hybrid Cloud</p>
				<p class="con2">Technical Solution Design</p>
				<a ng-click="gotoBottom()">
					<button class="button">GET STARTED</button >
				</a>
			</div>
		</div>
		<div class="col-md-8">
			<div class="row img1">
				<img class="img-responsive videoImg" src="../../images/video.jpg" style="">
			</div>
		</div>
	</div>
	<div class="row how_it_works">
		<img  class="img-responsive how_works"  src="../../images/how_it_works.png">
	</div>
	<div class="row">
		<div class="col-md-12">
			<h2 id="bottom" style="color:#017eba" class="servicesHome">SERVICES OFFERED</h2>
		</div>
		<div class="col-md-12 componentImages">
			<div class="col-xs-4 img2">
				<div class="subclass">
					<a href="https://console.ng.bluemix.net/" target="_blank"><img  class="img7" src="../../images/bluemix.png"/></a>
				</div>
			</div>
			<div class="col-xs-4 img3">
				<div class="subclass">
					<img  ng-click="navMsp()" class="img6" src="../../images/MSP_logo.png">
				</div>
			</div>
			<div class="col-xs-4 img4">
				<div class="subclass">
					<img  ng-click="loadHybrid()" class="img5" src="../../images/Bluemix_MSP_logo.png">
				</div>
			</div>
		</div>
	</div>
</div>




